body {
    text-align: center;
    background: linear-gradient(to bottom , #6699ff 0%, #ffffff 100%);
}

h1{
	color: #E8E6E6;
	font-family: 'Bungee Shade', cursive;
	font-family: 'Codystar', cursive;
	border: 1px solid #E8E6E6;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgb(220, 218, 218), 0 6px 50px 0 rgb(220, 218, 218);

}
